---
import Layout from '@/layouts/Layout.astro'
import IconCheckmark from '@/components/IconCheckmark.astro'
import Link from '@/components/Link.astro'
import { Image } from 'astro:assets'
import developerImage from '@/images/developer.svg'
import mindMapImage from '@/images/mind-map.svg'
import codeReviewImage from '@/images/code-review.svg'
import dotsTriangle from '@/images/dots-triangle.svg'
import photo from '@/images/photo-christian-m.jpeg'
---

<Layout title="Home">
  <main>
    <section
      class="hero mx-auto max-w-3xl flex flex-col sm:flex-row justify-between py-16 mt-24 px-4 xl:px-0"
    >
      <div class="font-bold text-center sm:text-left main-title-cont">
        <div class="text-5xl leading-tight dark:text-gray-100">
          Christian Mendez
        </div>
        <div
          class="text-3xl text-indigo-700 dark:text-indigo-500 leading-tight sm:mr-16"
        >
          Software Developer
        </div>
      </div>
      <div class="mt-8 sm:mt-0">
        <Image src={developerImage} alt="developer" class="mx-auto sm:mx-0" />
      </div>
    </section>
    <!-- end hero -->

    <section
      class="max-w-3xl mx-auto px-4 xl:px-0 border-b border-gray-300 dark:border-gray-700 mb-16"
    >
      <p class="dark:text-gray-100">
        A passionate software developer, self-taught person who enjoys creating
        solutions to real-world complex problems, taking a deep undestanding on what needs to be done and providing a scalable and efficient solution for it, working right now as
        backend developer at <Link
          href="https://www.linkedin.com/company/mayfer-dev/"
          newTab={true}>Mayfer</Link
        >.
      </p>

      <div class="flex justify-between items-center my-14">
        <div class="w-full sm:w-1/2 px-8 py-8 sm:py-0">
          <Image src={mindMapImage} alt="mind map" />
        </div>
        <div class="w-1/2 px-8 hidden sm:flex justify-end">
          <Image src={codeReviewImage} alt="code review" />
        </div>
      </div>
    </section>

    <section
      id="about"
      class="scroll-mt-32 max-w-3xl mx-auto relative px-4 xl:px-0 border-b border-gray-300 dark:border-gray-700 pb-16"
    >
      <h3 class="dark:text-gray-100 font-bold section-title mb-8">About me</h3>
      <div class="about-me-cont">
        <div class="about-me-title-cont about-me-title-cont__text">
          <p class="dark:text-gray-100 mt-6 sm:mt-0">
            Hi there! My name is Christian Mendez, I'm from Guatemala 🇬🇹 and I started programming since I was 15 and I would be impressed seeing what could be done by writing code, since then, I knew a wanted to get into the tech industry.
          </p>
          <p class="dark:text-gray-100 mt-6 sm:mt-0">I've always been a self-taught person since I was a child, that's why I've always liked to learn new things like languages, different cultures/life-styles and of course software development. </p>
        </div>
        <div class="about-me-title-cont about-me-title-cont__photo">
          <Image
            src={photo}
            alt="avatar"
            class="rounded-full photo-image border border-black"
          />
        </div>
      </div>
    </section>

    <section
      id="projects"
      class="scroll-mt-16 max-w-3xl mx-auto py-16 relative px-4 xl:px-0"
    >
      <h3 class="dark:text-gray-100 font-bold">
        Here are some personal projects I've worked on:
      </h3>

      <div class="absolute right-0 transform rotate-180 translate-x-[120%]">
        <Image src={dotsTriangle} alt="dots" class="hidden xl:block" />
      </div>

      <ul class="text-indigo-600 dark:text-indigo-500 mt-10 space-y-6">
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              <a href="https://poke-api-by-christian-m.netlify.app/" target="_blank" class="project_link" >Pokedex</a>
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              A simple interactive pokedex using the famous API <a href="https://pokeapi.co/" target="_blank"  class="project_reference">PokeAPI</a>, it includes a search bar for pokemons, 
              a dropdown filter for different pokemon types and specific details about the pokemon when selecting one.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              <a href="https://trivia-quiz-christian-m.netlify.app/" target="_blank" class="project_link">Trivia Quiz</a>
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              This project is a fun and interactive trivia quiz game designed to test players' knowledge across various topics. The game aims to provide an engaging experience through a series of multiple-choice questions, with players competing to achieve the highest score.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              <a href="https://aerolab-challenge-christian-m.netlify.app/" target="_blank" class="project_link">Aerolab Challenge</a>
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              This project involves the development of a simple and engaging online store where users can purchase items using coins and includes different filters for the products. Additionally, users have the opportunity to redeem more coins in case they run out of them.
            </p>
          </span>
        </li>
      </ul>
    </section>

    <section
      id="contact"
      class="scroll-mt-28 bg-gray-100 dark:bg-slate-800 mt-10 py-12 px-4 xl:px-0"
    >
      <div class="max-w-3xl mx-auto relative">
        <h3 class="font-bold dark:text-gray-100">Contact me</h3>

        <div class="absolute left-0 transform -translate-x-[120%] rotate-180">
          <Image src={dotsTriangle} alt="dots" />
        </div>

        <p class="dark:text-gray-100 mt-6">
          Got a question, a project in mind, or just want to say hello? I'd love
          to hear from you! Feel free to reach out by filling out the form below
          and I'll get back to you as soon as possible.
        </p>
        <div class="mt-12">
          <form action="#" name="contact" method="POST" data-netlify="true" onsubmit="submit" class="grid grid-cols-2 gap-6">
            <div class="col-span-2 sm:col-span-1">
              <label for="name" class="block dark:text-gray-100">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Your name"
                class="block dark:bg-slate-700 dark:text-gray-100 w-full rounded-md border-0 text-gray-900 shadow placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 p-4 mt-2"
              />
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label for="email" class="block dark:text-gray-100">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Your email"
                class="block dark:bg-slate-700 dark:text-gray-100 w-full rounded-md border-0 text-gray-900 shadow placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 p-4 mt-2"
              />
            </div>

            <div class="col-span-2">
              <label for="message" class="block dark:text-gray-100"
                >Message</label
              >
              <textarea
                rows="8"
                name="message"
                id="message"
                class="block dark:bg-slate-700 dark:text-gray-100 w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-600 p-4 mt-2"
                placeholder="Enter your message here"></textarea>
            </div>

            <div class="col-span-2">
              <div class="flex justify-end w-full">
                <input
                  type="submit"
                  value="Submit"
                  class="block bg-indigo-700 hover:bg-indigo-900 focus:bg-indigo-900 text-white text-sm font-semibold tracking-wide uppercase shadow rounded cursor-pointer px-6 py-3"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .project_reference {
    color: #2563eb;
    font-weight: 500;
  }
  /* .project_link {
    color: #000;
    font-weight: 600;
  } */
  .project_link:hover {
    color: #5047e5;
    text-decoration: underline;
  }
  .main-title-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .photo-image {
    /* border: 1px solid var(--tw-border-opacity); */
    padding: 5px;
    max-width: 12rem;
  }
  .section-title {
    text-align: center;
    font-size: 22px;
  }
  .about-me-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me-title-cont__photo {
    order: 1;
  }
  .about-me-title-cont__text {
    order: 2;
  }
  @media (min-width: 640px) {
    .section-title {
      text-align: start;
      /* margin-left: 1rem; */
    }
    .about-me-cont {
      flex-direction: row;
      gap: 10px;
    }
    .about-me-title-cont__photo {
      order: 2;
    }
    .about-me-title-cont__text {
      align-items: end;
      order: 1;    
      gap: 20px;
    }
  }
  .about-me-title-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
